<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="background-color: blueviolet">
<div>
    <input type="text" placeholder="Nome" >
    <input type="text" placeholder="Sobrenome">
    <input type="email" name="" id="" placeholder="E-mail">
    <input type="text" placeholder="País">
    <input type="text" placeholder="Telefone">
    <input type="text" placeholder="Celular">
    <input type="url" name="" id="" placeholder="Site">

    <input type="text" placeholder="Mensagem">
    <button></button>
</div>

</body>
</html>