{% load staticfiles  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/style1.css' %}">
    <title>Contato Para Show</title>
</head>
<body style="background-color: blueviolet">
        <input type="checkbox" name="toggle" id="toggle">
        <header>
            <div>
                <div class="bloco"></div>
                <img class="AboBranco" src="{% static 'imagens/AboDefaut.png' %}" alt="">
                <img src="{% static 'imagens/menu.png' %}" alt="" id="menu">
                <div class="redes">
                    <img src="{% static 'imagens/deezerBranco.png' %}" alt="">
                    <img src="{% static 'imagens/youtubeBranco.png' %}" alt="">
                    <img src="{% static 'imagens/instagramBranco.png' %}" alt="">
                    <img src="{% static 'imagens/facebookBranco.png' %}" alt="">
                </div>
                <label for="toggle">
                
                </label>
            </div>
        </header>
        <!------------------------------------------->