body{
   margin:0;
}

#estruturaGrid {
    display: grid;
    grid-template-areas: 'header header'
                         'nav nav'
                         'arte arte'
                         'girar girar'
<<<<<<< HEAD
                         'paralax paralax'
                         'banda aside'
                         'banda aside'
                         'agenda agenda'
                         'galeria galeria'
                         'footer footer';
    grid-auto-rows: 10vh 8vh 112vh 100vh 100vh 50vh 50vh 90vh 90vh 40vh;
=======
                         "paralax paralax"
                         "banda aside"
                         "banda aside "
                         "agenda agenda "
                         "galeria galeria "
                         'footer footer';
    grid-auto-rows: 10vh 8vh auto 100vh 100vh 50vh 50vh 90vh 90vh 20vh;
}
input#menuToggle{
    display: none;
}
.headerOn nav .links{
    display: block;
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 80%;
    right: -100%;
    top: 0;
    transition: all 0.5s ease;
    background:rgb(196, 131, 11);
}
input#menuToggle:checked ~ nav .links{
    right: 0;
>>>>>>> 2e048302e5de0ef4fe9a3941b55895860eccbdba
}
header{
    grid-area: header;
    background-color: black;
}

header div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bloco{
    width: 17%;
}

.AboBranco {
    width: 20%;
    height: 20%;
    padding: 23px;
}

nav{
    grid-area: nav;
    background-color:black;
    display:flex;
    justify-content: space-around;
    padding-top: 25px;
}

nav a {
    text-decoration: none;
    color:white;
    font-family: TribalAboFont;
    font-size: 15px;
}

nav > a:hover {
    cursor: pointer;
    color: orange;
}
#menu{
    display:none;
}

.redes {
    justify-content: left;
}

.redes > img {
    width: 10%;
    height: 10%;
    margin: 2vh;
}

.arte {
    grid-area: arte;

    display: grid;
}
.arte img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center top;
}

.girar {
    grid-area: girar;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

h1 {
    font-family: TribalAboFont;
    font-size: 55px;
    color: white;
}

<<<<<<< HEAD
.girar > img {
    width: 45vw;
    height: 45vh;
 }
button {
    background-color: orange;
    width: 20vw;
    height: 10vh;
    margin: 30px;
    border: none;
    font-family: TribalAboFont;
    font-size: 15px;
    cursor: pointer;
}

=======
>>>>>>> 2e048302e5de0ef4fe9a3941b55895860eccbdba
.paralax {
    grid-area: paralax;
    background-color: aqua;
    background-image: url("/static/imagens/AborigensMG.JPG");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
<<<<<<< HEAD
}
=======
    

}

>>>>>>> 2e048302e5de0ef4fe9a3941b55895860eccbdba
.banda {
    grid-area: banda;
    background-color:black;
    display: flex;
    align-items: center;
}

.banda > img {
    width: 80%;
    height: auto;
    margin-left: 20px;
}

aside {
    grid-area: aside;
    background-color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    font-family: Arial;
    font-size: 15px;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    white-space: normal;

}

.agenda {
    grid-area: agenda;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.agenda > h1 {
    font-family: TribalAboFont;
    font-size: 50px;
    color: black;
    margin-top: 40px;

}

.agenda > h2 {
    font-family: TribalAboFont;
    font-size: 50px;
    color: black;
}

.galeria {
    grid-area: galeria;
    background-color: #3C054F;
    display: flex;
}
.galeria > div {
    display: flex;
    justify-content: center;
    flex-direction: initial;
    align-items: center;
}

.galeria > div > img {
   width: 45%;
   height: auto;
   margin: 5px;
}

footer{
    grid-area:footer;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.rodape > a {
    font-family: Arial;
    font-size: 18px;
    color: orange;
    margin-left: 20px;
}

h3 {
    font-family: Arial;
    font-size: 18px;
    color: orange;
    justify-content: center;
    align-self: flex-end;
    justify-self: center;
}

@media(max-width:768px){
    /* ----- HEADER ------- */
    #menu{
        display: flex;
        margin-right:10vh;
        width: 50px;
        height: 30px;
    }
    /* ------- NAV -------- */
    nav a{
        display:none;
    }
    nav .links{
        padding-top: 60px;
    }
    nav .links label{
        position: absolute;
        right: 20px;
        top: 10px;
        width: 30px;
        height: 30px;
    }
    nav .links label i{
        font-size:30px;
        color:white;
    }
    nav .links a{
        display: block;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #fff;
        border-bottom: 1px solid #ccc;
        padding-left: 30px;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    #redes{
        display: flex;
        justify-content: space-around;
        width: 60vw;
    }
    #redes img{
        width: 20px;
        height: 20px;
        margin-top: -5px;
    }
    .redes{
        display:none;
    }

}

@media(min-width:768px){
    .headerOn nav .links{
        position: static;
        display: flex;
        background: #000;
        justify-content: space-between;
        align-items: center;
    }
    .headerOn nav #redes{
        display: none;
    }
    nav .links label{
        display: none;
    }
}
@media(min-width:360px){
     /* ----- HEADER ------- */
    #menu{
        height: 3vh;
        width: 5vw;
    }
    .AboBranco{
        width: 30%;
        height: 30%;
    }
    /* ------ SECTION ARTE --------*/

}
@media(min-width:650px){
    /* ----- HEADER ------- */
    .AboBranco{
        margin-top:-2px;
    }
}
@media(min-width:666px){
    /* ----- HEADER ------- */
    .AboBranco{
        margin-top:-3px;
}
@media(min-width:712px){
    /* ----- HEADER ------- */
    .AboBranco{
        margin-top:-5px;
    }
    /* ----- NAV -----*/
    #redes img{
        width: 25px;
        height: 25px;
        margin-top: -8px;
    }
}
@media(min-width:748px){
    /* ----- HEADER -----*/
    .AboBranco{
        margin-top:-10px;
    }
}
@media(min-width:780px){
    /* ----- HEADER -----*/
    .AboBranco{
        margin-top: -12px;
    }
    /* ----- NAV -----*/
    nav a{
        margin-top:-5px;
    }
}
@media(min-width:852px){
    /* ----- HEADER -----*/
    .AboBranco{
        height: 8vh;
        margin-top: -12px;
    }
    /* ----- NAV -----*/
    nav a{
        margin-top:-7px;
    }
}
@media(min-width:910px){
    /* ----- HEADER -----*/
    .AboBranco{
        object-fit: contain;
        height: 8vh;
        margin-top: -12px;
    }
    /* ----- NAV -----*/
    nav a{
        margin-top:-7px;
    }
}
<<<<<<< HEAD
}

@font-face  {
    font-family: TribalAboFont;
    src: url(TribalAboFont.otf);
=======
>>>>>>> 2e048302e5de0ef4fe9a3941b55895860eccbdba
}