body{
   margin:0;
}

#main{
    display:grid;
    grid-template-areas: 'header header'
                         'nav nav'
                         'section section'
                         'div div'
                         'footer footer';
    grid-auto-rows: 10vh 15vh 50vh 20vh;
   

}
header{
    grid-area: header;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo {
    width: 25vw;
    height: 25vh;
    object-fit: contain;

}
nav{
    grid-area: nav;
    background-color:black;
    display:flex;
    justify-content: space-around;
    padding-top: 25px;
}
nav div{
    display:none;
}
nav a {
    text-decoration: none;
    color:white;
}
#menu{
    display:none;
}
section{
    grid-area:section;
    background-color:blue;
}
#divgrid{
    grid-area:div;
    background-color:pink;
}
footer{
    grid-area:footer;
    background-color:orange;
}

@media(max-width:768px){
    nav a{
        display:none;
    }
    #redes{
        display: flex;
        justify-content: space-around;
        width: 60vw;
    }
    #redes img{
        width: 20px;
        height: 20px;
    }
    #menu{
        display: flex;
        margin-left: 20vw;
        width: 25px;
        height: 25px;
    }
    .redes{
        display:none;
    }

}