{% load staticfiles  %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link defer rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <title>Aborigens</title>
</head>
<body>
    <div id="estruturaGrid">
        <header>
            <div>
                <div class="bloco"></div>
                <img class="AboBranco" src="{% static 'imagens/AboDefaut.png' %}" alt="" id="logo">
                <img src="{% static 'imagens/menu.png' %}" alt="" id="menu">
                <div class="redes">
                <img src="{% static 'imagens/deezerBranco.png' %}" alt="">
                <img src="{% static 'imagens/youtubeBranco.png' %}" alt="">
                <img src="{% static 'imagens/instagramBranco.png' %}" alt="">
                <img src="{% static 'imagens/facebookBranco.png' %}" alt="">
                </div>
            </div>
        </header>
        <nav>
            <a href="#">INICIO</a>
            <a href="#">BANDA</a>
            <a href="#">AGENDA</a>
            <a href="#">GALERIA</a>
            <a href="#">CONTATO PARA SHOW</a>

            <div id="redes">
             <img src="{% static 'imagens/deezerBranco.png' %}" alt="">
             <img src="{% static 'imagens/youtubeBranco.png' %}" alt="">
             <img src="{% static 'imagens/instagramBranco.png' %}" alt="">
             <img src="{% static 'imagens/facebookBranco.png' %}" alt="">
            </div>
        </nav>
        <section class="arte">
        Arte do Ep 
        </section>
        <section class="girar"> 
        Girar
        </section>
        <section class = "banda"> 
        <img src= "{% static 'imagens/AboBranco.png' %}" alt="">
             </section>
             <aside> 
                <p> texto </p>
             </aside>
        <section class= "agenda"> 
            <h1> Agenda da banda</h1>
        </section>
        <section class="galeria">
         Carrocel de imagens 
        </section>
        <footer>footer</footer>
    </div>

</body>
</html>

