{% load staticfiles  %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link defer rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <link rel="shortcut icon" href="{% static 'imagens/flag.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <title>Aborigens</title>
</head>
<body class="headerOn">
    <div id="estruturaGrid">
        <input type="checkbox" name="menu" id="menuToggle">
        <header>
            <div>
                <div class="bloco"></div>
                <img class="AboBranco" src="{% static 'imagens/AboDefaut.png' %}" alt="" >
                <label for="menuToggle">
                    <span>
                        <img src="{% static 'imagens/menu.png' %}" alt="" id="menu">
                    </span>
                </label>
                <div class="redes">
                <img src="{% static 'imagens/deezerBranco.png' %}" alt="">
                <img src="{% static 'imagens/youtubeBranco.png' %}" alt="">
                <img src="{% static 'imagens/instagramBranco.png' %}" alt="">
                <img src="{% static 'imagens/facebookBranco.png' %}" alt="">
                </div>
            </div>
        </header>
        <nav>
            <div class="links">
                <label for="menuToggle">
                    <span>
                        <i class="fas fa-times"></i>
                    </span>
                </label>
                <a href="#">INICIO</a>
                <a href="#">BANDA</a>
                <a href="#">AGENDA</a>
                <a href="">GALERIA</a>
                <a href="{% url 'contact' %}">CONTATO PARA SHOW</a>
            </div>

            <div id="redes">
                <img src="{% static 'imagens/deezerBranco.png' %}" alt="">
                <img src="{% static 'imagens/youtubeBranco.png' %}" alt="">
                <img src="{% static 'imagens/instagramBranco.png' %}" alt="">
                <img src="{% static 'imagens/facebookBranco.png' %}" alt="">
            </div>
        </nav>
        <section class="arte">
            <img src="{% static 'imagens/ArtEPsite.jpg' %}" alt="Banner">
        </section>
        <section class="girar"> 
        Girar
        </section>
        <section class = "banda"> 
        <img src= "{% static 'imagens/AboBranco.png' %}" alt="">
             </section>
             <aside> 
                <p> texto </p>
             </aside>
        <section class= "agenda"> 
            <h1> Agenda da banda</h1>
        </section>
        <section class="galeria">
         Carrocel de imagens 
        </section>
        <footer>footer</footer>
    </div>

</body>
</html>

