{% load static  %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Aborigens</title>
</head>
<body>
    <div id="main">
        <header>
            <img src="static/abo.png" alt="" id="logo">
            <img src="static/menu.png" alt="" id="menu">
            <div class="redes">
            <img src="static/deezer.png" alt="">
            <img src="static/youtu.png" alt="">
            <img src="static/insta.png" alt="">
            <img src="static/face.png" alt="">
            </div>
        </header>
        <nav>
            <a href="#">INICIO</a>
            <a href="#">BANDA</a>
            <a href="#">AGENDA</a>
            <a href="#">GALERIA</a>
            <a href="#">CONTATO PARA SHOW</a>

            <div id="redes">
             <img src="static/deezer.png" alt="">
             <img src="static/youtu.png" alt="">
             <img src="static/insta.png" alt="">
             <img src="static/face.png" alt="">
            </div>
        </nav>
        <section>
            SECTION
        </section>
        <div id="divgrid">div</div>
        <footer>footer</footer>
    </div>

</body>
</html>